* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#user-list-window {
  width: 100px;
  height: calc(100% - 39px);
  position: fixed;
  padding-top: 4px;
  padding-left: 5px;
  top: 0;
  right: 0;
  overflow: auto;
  background-color: #eee;
}

#whos-typing {
  position: fixed;
  bottom: 43px;
}

#messages-window {
  width: calc(100% - 100px);
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
